.webix_el_text input,
.webix_el_search input,
.webix_el_combo input,
.webix_el_datepicker input,
.webix_el_textarea textarea,
.webix_el_datepicker .webix_inp_static,
.webix_multicombo .webix_inp_static,
.webix_el_richselect .webix_inp_static,
.webix_el_colorpicker .webix_inp_static {
    border-radius: var(--radius-sm);
    border-color: var(--color-border);
}

.webix_el_text input:hover,
.webix_el_search input:hover,
.webix_el_combo input:hover,
.webix_el_datepicker input:hover,
.webix_el_textarea textarea:hover,
.webix_el_datepicker .webix_inp_static:hover,
.webix_multicombo .webix_inp_static:hover,
.webix_el_richselect .webix_inp_static:hover,
.webix_el_colorpicker .webix_inp_static:hover,
.webix_el_text input:focus,
.webix_el_search input:focus,
.webix_el_combo input:focus,
.webix_el_datepicker input:focus,
.webix_el_textarea textarea:focus,
.webix_el_datepicker .webix_inp_static:focus,
.webix_multicombo .webix_inp_static:focus,
.webix_el_richselect .webix_inp_static:focus,
.webix_el_colorpicker .webix_inp_static:focus,
.webix_el_text input:active,
.webix_el_search input:active,
.webix_el_combo input:active,
.webix_el_datepicker input:active,
.webix_el_textarea textarea:active,
.webix_el_datepicker .webix_inp_static:active,
.webix_multicombo .webix_inp_static:active,
.webix_el_richselect .webix_inp_static:active,
.webix_el_colorpicker .webix_inp_static:active {
    border-color: var(--color-border-2);
    box-shadow: var(--shadow-sm);
}

.webix_custom_checkbox:focus {
    color: var(--color-text-muted)
}

/* This version of Webix is not intended for using outside of webix.com */