.loading-overlay {
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loading-spinner {
    border: 8px solid #e0e0e0;
    border-top: 8px solid var(--color-primary);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-self: center;
    animation: spin 1s linear infinite;
}

.loading-text {
    /* margin-top: 5px; */
    font-size: 16px;
    color: #333;
    align-self: center;
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}